#ng-app{'ng-app' => ''}
  %h1 Cheat on Word Games
  %p 
    Type in the letters you have to work with in the box below. You will see all the words
    that can be made with those letters below.
  %form
    %input{id: :letters, name: :letters, type: :text, name: :letters}
  %h2 Words
