<!DOCTYPE html>
<html>
<head>
  <title>WordCheat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <div id="footer" class="footer">
    Created by <a href="http://www.theaboutbox.com">Cameron Pope</a> for the <a href="http://derailed.us/">Derailed User Group</a>.<br/>
    <a href="https://github.com/theaboutbox/WordCheat">Get the code</a>
  </div>
</body>
</html>
